@keyframes move-circle {
  0% {
    clip-path: circle(20% at 10% 50%);
  }

  100% {
    clip-path: circle(20% at 90% 50%);
  }
}

@media print {
  .no-print {
    display: none !important;
  }
}

:root {
  --primary-color: rgb(10, 60, 110);
  --font-family-sans:
    system-ui, 'Segoe UI', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans',
    Arial, sans-serif;
}

body {
  font-size: 16px;
  font-family: var(--font-family-sans);
  background-color: antiquewhite;
}

button {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  color: var(--primary-color);
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: #fff;
  background-color: var(--primary-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.backdrop {
  z-index: 1050;
}

.container-fluid {
  padding: 0 10px;
  width: 100%;
}

.flashlight {
  animation: move-circle 3s 3 alternate cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.flashlight.no-animation {
  animation: none;
}

.flex-absolute-center {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.font-bold {
  font-weight: bold;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.grid-rows-auto-col {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  row-gap: 15px;
  width: 100%;
}

.grid-row-cols {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
  width: 100%;
}

.heading {
  font-size: 76px;
  margin: 20px;
}

.hidden {
  display: none;
}

.fixed-bottom-end {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.fixed-top-end {
  position: fixed;
  top: 0;
  right: 0;
  margin: 40px;
}

.text-color {
  color: var(--primary-color);
}

.text-underline {
  text-decoration: underline;
}

.text-upper {
  text-transform: uppercase;
}
